<!DOCTYPE html>
<html>
<head>
  <title>Produits Amazon Monitor</title>
</head>
<body>
  <h1>Produits Amazon Monitor</h1>
  <ul>
    <% products.forEach(function(product) { %>
      <li>
        <h2><%= product.name %></h2>
        <p>Prix: <%= product.pricedecimal %><%= product.pricenext %>€</p>
        <p>Lien: <a href="<%= product.link %>"><%= product.link %></a></p>
        <img src="<%= product.image %>" alt="<%= product.name %>">
      </li>
    <% }) %>
  </ul>
</body>
</html>
